.side-bar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  padding: 3rem 2rem;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 /2;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  margin-top: 2rem;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;

  @media only screen and (max-width: $bp-large) {
    margin: 0;
    margin-right: auto;
  }

  &::after,
  &::before {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    display: block;
  }

  &::before {
    transform: translateY(-1.2rem);
    @media only screen and (max-width: $bp-large) {
      transform: translateY(-1rem);
    }
  }
  &::after {
    transform: translateY(1rem);

    @media only screen and (max-width: $bp-large) {
      transform: translateY(0.8rem);
    }
  }
}
